server:
    port: 8080

spring:
    application:
        name: shop
    profiles:
        active: prod
    datasource:
        name: test
        url: jdbc:mysql://localhost:3306/shop?useSSL=false&useUnicode=true&characterEncoding=utf8&serverTimezone=GMT
        username: root
        password: admin
        #druid数据源
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.jdbc.Driver

        druid:
            #druid监控
            web-stat-filter:
                profile-enable: true
                #exclusions: *.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*
            stat-view-servlet:
                allow: 172.16.2.119,172.16.2.129
                deny:
                login-username: admin
                login-password: 123456
                url-pattern: /druid/*
            filters: stat,wall,log4j
            initial-size: 5
            min-idle: 5
            maxActive: 20
            max-wait: 60000
            time-between-eviction-runs-millis: 60000
            min-evictable-idle-time-millis: 300000
            validation-query: select 1 from dual
            test-while-idle: true
            test-on-borrow: false
            test-on-return: false
            pool-prepared-statements: true
            max-pool-prepared-statement-per-connection-size: 20
            connection-properties:
            #connectionProperties: druid.stat.mergeSql: true;druid.stat.slowSqlMillis: 5000
    #redis配置
    redis:
        database: 0
        host: localhost
        port: 6379
        password:
        pool:
            max-active: 8
            max-wait: -1
            max-idle: 8
            min-idle: 0
        timeout: 0
    #thymeleaf模板引擎
    thymeleaf:
        cache: false
        prefix: classpath:/templates/
        check-template: true
        suffix: .html
        encoding: utf-8
        content-type: text/html
        mode: HTML5
    #热部署
    devtools:
        restart:
            enabled: true
            additional-paths: shop/src/main/java
            exclude: WEB-INF/**
#mybatis配置
mybatis:
    mapper-locations: classpath:mapping/*.xml
    type-aliases-package: com.nainai.domain
#pagehelper分页插件
pagehelper:
    helperDialect: mysql
    reasonable: true
    supportMethodsArguments: true
    params: count=countSql
#eureka客户端配置
eureka:
    client:
        serviceUrl:
            defaultZone: http://localhost:8761/eureka/
        register-with-eureka: true
        fetch-registry: true
    instance:
        # 续约更新时间间隔（默认30秒）
        lease-renewal-interval-in-seconds: 10
        # 续约到期时间（默认90秒）
        lease-expiration-duration-in-seconds: 30
#EndPoint关闭权限管理
management:
    security:
        enabled: true



